#container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  min-height: 345px;
}

header {
  padding: 0.5rem;
  background-color: #1B76C8;
  color: white;
  /*text-shadow: 0 0 4px black;*/
  border-bottom: 1px solid rgba(0,0,0,0.3);

  display: flex;
  flex-direction: row;
}

header h1 {
  margin: 0 0 0 0.5rem;
}

header .filler {
  flex-grow: 1;
}

header .github {
  line-height: 0;
}

#map {
  flex-grow: 1;
}

#map.fullscreen {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

footer {
  padding: 0.5rem;
  background-color: #1B76C8;
  color: white;
  /*text-shadow: 0 0 4px black;*/
  border-top: 1px solid rgba(0,0,0,0.3);
}

footer a {
  color: white;
}

.controls {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.control {
  margin-bottom: 0.5rem;
  color: white;
  background-color: #1B76C8;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  user-select: none;
  text-shadow: 0 0 4px black;
}

.control span {
  display: inline-block;
  height: 30px;
  width: 30px;
  font-size: 30px;
  line-height: 1;
  text-align: center;
}

.control.disabled {
  background-color: #AEC2D1;
}

#zoom-in {
  top: 0.5rem;
}

#zoom-out {
  top: 3rem;
}

#zoom-out span {
  position: relative;
  top: -2px;
}

#info {
  top: 5.5rem;
}

#gps {
  top: 8rem;
}

#layers {
}
